.header {
    display: flex;
    
    width: 80%;
    height: 5rem;
    background-color: #6e70a7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    
  }
  .header button{
    display: flex;
    align-items: center;
    font: inherit;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: 1px solid #a892ee;
  background-color: #a892ee;
  color: #ebebff;
  border-radius: 12px;
  margin-right: 1rem;
    

}